.CartLink {
  position: relative;
}
.img-in-cartList {
  width: 49px;
}
.CartLink-total {
  position: absolute;
  top: -0px; 
  right: -10px; 
  color: #ffffff;
  padding: 14px 29px;
  font-family: "'Open Sans'";
  font-size: 14px;
  border-radius: 50%; 
}
