.AddToCart button {
  align-items: center;
  display: flex;
  transition: all 300ms;
  margin-left: 80px;
}
.AddToCart button:hover > img {
  filter: invert(1);
  transition: all 300ms;
} 
.button-cart {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 7px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button-cart span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-cart span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-cart:hover span {
  padding-right: 17px;
}
.button-cart:hover span:after {
  opacity: 1;
  right: 0;
}
.AddToCart img {
  width: 30px;
  height: 100%;
}
.AddToCart .product-num {
  position: absolute;
  border-radius: 10px;
  background: #ff0000c9;
}
.Notification {
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 4px solid #131212;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
  animation: fadeIn 0.3s ease-in-out, slideUp 0.5s ease-in-out;
  width: 250px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.Notification img {
  width: 100px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.Notification p mark {
  background-color: #fff;
  padding: 5px;
  font-weight: bold;
  border-radius: 15px;
  color: green;
}