@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Barlow+Condensed:ital@1&family=Dancing+Script&family=Heebo:wght@500;700&family=Roboto+Mono:ital@1&family=Roboto:wght@400;900&family=Space+Grotesk:wght@700&family=Tinos:ital,wght@1,700&display=swap');

.paragraph-about {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 21px;
}
.h1-about {
  font-family: 'Roboto Mono', monospace;
}