.ProductItem {
  position: absolute;
  z-index: 5;
  top: 50px;
}
.ProductItem .Product {
  display: flex;
  flex-direction: row-reverse;
  border: 2px solid #9b7b35;
  background-color: #008877;
  color: #ffba20;
  width: 450px;
}
.ProductItem .Product .block_img {
  max-width: 150px;
}
.ProductItem .Product .block_img img {
  vertical-align: bottom;
  width: 150px;
  align-self: start;
}
.ProductItem:nth-child(1) .Product {
  margin: 0;
  position: absolute;
  background-color: #008877;
  font-size: 20px;
}
.ProductItem:nth-child(2) .Product {
  margin-top: 158px;
  position: absolute;
  font-size: 20px;
}
.ProductItem:nth-child(3) .Product {
  margin-top: 316px;
  position: absolute;
  font-size: 20px;
}
.ProductItem .Product a {
  text-decoration: none;
}
.ProductItem .Product .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 15px;
  font-size: 20px;
}
.ProductItem .Product .content span {
  color: #ffba20;
}