.Ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-content: space-around;
}
.Nav .NavItem a {
  transition: 0.5s;
  color: rgb(225, 164, 84);
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
.NavItem {
  padding: 30px 20px;
  font-size: 29px;
}
.Nav .NavItem a:hover {
  color: #fff;
  border-color: #fff;
}
Nav .NavItem a:focus {
  color: #fff;
}
